<div class="md:container mx-auto">
  <mat-stepper [orientation]="stepperOrientation" #stepper>
<!-- Step 1 -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select Template</ng-template>

        <div class="p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5">

          <!-- Show message if no items are available -->
          <p *ngIf="!(items$ | async)?.length" class="text-center text-gray-500">No items available.</p>

          <div *ngFor="let item of (items$ | async)" tabindex="0"
               (click)="selectItem(item.id)"
               (keyup.enter)="selectItem(item.id)"
               class="cursor-pointer relative transition-transform duration-300 ease-in-out hover:scale-105">
            <!-- Get Selected Item Once -->

              <mat-card class="p-4 flex flex-col items-center text-center overflow-hidden rounded-xl shadow-lg transition-all duration-300 ease-in-out border
                              hover:shadow-2xl"
                        [class.bg-blue-100]="(selectedItem$ | async)?.id === item.id">

                <!-- Image -->
                <img mat-card-image class="w-full h-full object-cover rounded-t-xl"
                     [src]="item.image"
                     alt="Photo of {{ item.name }}">

                <!-- Selected Badge (Only appears when item is selected) -->
                <div *ngIf="(selectedItem$ | async)?.id === item.id"
                     class="absolute top-2 right-2 bg-blue-500 text-white text-xs font-bold px-3 py-1 rounded-full">
                  Selected
                </div>
              </mat-card>

            </div>
          </div>

        <div>
          <button mat-flat-button matStepperNext [disabled]="!(selectedItem$ | async)">Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>

<!-- Step 2 -->
    </mat-step>

<!-- Step 2 -->
    <mat-step [stepControl]="secondFormGroup" label="Upload & Crop Photo">
      <form [formGroup]="secondFormGroup">
        <div class="flex justify-center my-5">
          <app-image-control [width]="500" [height]="500"></app-image-control>
        </div>

        <!-- Navigation Buttons -->
        <div class=" flex gap-2">
          <button mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>

          <button mat-flat-button matStepperNext [disabled]="!isFileUploaded">
            <mat-icon>arrow_forward</mat-icon>
            Next
          </button>
        </div>
      </form>
    </mat-step>



<!-- Step 3 -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <app-image-control [width]="200" [height]="200"></app-image-control>


      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
