<div class="md:container mx-auto">
  <mat-stepper  [orientation]="stepperOrientation" #stepper>
<!-- Step 1 -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select Template</ng-template>

          <app-template></app-template>

        <div>
          <button mat-flat-button matStepperNext [disabled]="!(selectedFrame$ | async)">Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

<!-- Step 2 -->
    <mat-step [stepControl]="secondFormGroup" label="Upload & Crop Photo">
      <form [formGroup]="secondFormGroup">
        <div class="flex justify-center my-5 gap-4 flex-wrap w-full">
          <img [src]="(selectedFrame$ | async)?.image" alt="">
          <app-file-upload class="w-1/2"></app-file-upload>
        </div>

        <!-- Navigation Buttons -->
        <div class=" flex gap-2 justify-between ">
          <button mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>

          <button mat-flat-button matStepperNext [disabled]="!(selectedPhoto$ | async)">
            <mat-icon>arrow_forward</mat-icon>
            Next
          </button>
        </div>
      </form>
    </mat-step>



<!-- Step 3 -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <img *ngIf="(selectedFrame$ | async) as selectedFrame" [src]="selectedFrame?.image" alt="">
      <img *ngIf="(selectedPhoto$ | async) as selectedPhoto" [src]="selectedPhoto" alt="">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
